.maincard {
  height: 100vh;
  background-color: #ffc2a0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerCard {
  background-color: #ffffff;
  padding: 10px;
  width: 60%;
}
