* {
  font-family: 'Roboto';
}
.main {
  background-image: linear-gradient(#fbc7d4, #9796f0, #9897f0, #8b5cf6);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #ffffff;
  width: 90%;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #cbd5e1;
}
.img {
  width: 45%;
}
.imgs {
  width: 100%;
}
input {
  border: 2px soild #b5b7c4;
  padding: 18px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}
.inputs h1 {
  font-size: 24px;
  margin-bottom: 25px;
}
label {
  margin-bottom: 10px;
}
button {
  background-color: #8b5cf6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 18px;
}
.bottom-card {
  margin-top: 20px;
}

.head-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputs {
  display: flex;
  flex-direction: column;
  width: 40%;
}

input {
  border: 1px solid #b5b7c4;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  width: 100%;
}

label {
  font-size: 12px;
  font-weight: bold;
  color: #7e858e;
  margin-bottom: 5px;
  text-transform: uppercase;
}

ul {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}
.notfav {
  border: 2px solid #8b5cf6;
  background-color: transparent;
  color: #8b5cf6;
  border-radius: 24px;
}
.favbtn {
  background-color: #8b5cf6;
  color: yellow;
  border-radius: 24px;
}
